{{- define "content" }}
{{- if .Err }}
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <p>{{ .Err }}</p>
    </div>
  </div>
</div>
{{- end }}
<div class="row row-search">
  <form class="form-inline" method="get" action="{{ .Path }}">
    <div class="form-search form-alerts-search col-md-10">
      <div class="form-group">
        <label for="friendly-name">Friendly Name</label>
        <input type="text" class="form-control" name="friendly-name" id="friendly-name" placeholder="Name (exact match)" value="{{ (.Query.Get "friendly-name") }}">
      </div>
    </div>
    <div class="col-md-2">
      <input type="submit" value="Search" class="btn-search btn btn-default btn-info" />
    </div>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      {{- if .Page.ShowHeader "DateCreated" }}
      <th>Date</th>
      {{- end }}
      {{- if .Page.ShowHeader "PhoneNumber" }}
      <th>Number</th>
      {{- end }}
      {{- if .Page.ShowHeader "FriendlyName" }}
      <th>Friendly Name</th>
      {{- end }}
      {{- if .Page.ShowHeader "VoiceURL" }}
      <th>Configuration</th>
      {{- end }}
    </tr>
  </thead>
  <tbody>
    {{- range .Page.Numbers }}
    {{- if .CanViewProperty "Sid" }}
    <tr class="pn">
      <td class="friendly-date">
        <a href="/phone-numbers/{{ .PhoneNumber }}" title="View more details">
          {{- if .CanViewProperty "DateCreated" }}
            {{ friendly_date (.DateCreated.Time.In $.Loc) }}
          {{- else }}
          View more details
          {{- end }}
        </a>
      </td>
      {{- if .CanViewProperty "PhoneNumber" }}
      <td>{{ .PhoneNumber.Friendly }}</td>
      {{- end -}}
      {{- if .CanViewProperty "FriendlyName" }}
      <td>{{ .FriendlyName }}</td>
      {{- end -}}
      <td>
        {{- if .CanViewProperty "VoiceURL" }}
        Voice URL: <a href="{{ .VoiceURL }}">{{ .VoiceURL }}</a><br>
        {{- end }}
        {{- if .CanViewProperty "SMSURL" }}
        SMS URL: <a href="{{ .SMSURL }}">{{ .SMSURL }}</a>
        {{- end }}
      </td>
    </tr>
    {{- end }}
    {{- end }}
  </tbody>
</table>
{{- if eq 0 (len .Page.Numbers) }}
  {{/* Don't need if/else with range .Page.Numbers, that will always be empty
       if this is non-empty and vice versa */}}
  No phone numbers match the search criteria
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{{- end }}
{{- template "paging" . }}
{{- end }}
