footer {
	margin-top: 40px;
}

pre, code {
	font-family: Consolas, Monaco, monospace;
}

/* TODO media queries here - not as wide margins on smaller screens */
.page {
	margin: 30px 40px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.pn {
	min-width: 110px;
}

.btn-next {
	min-width: 135px;
	float: right;
}
