a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: purple;
}

.btn a, a.btn {
    text-decoration: none;
}

footer {
    margin-top: 40px;
}

pre, code {
    font-family: Consolas, Monaco, monospace;
}

/* TODO media queries here - not as wide margins on smaller screens */
.page {
    margin: 10px 40px 40px 40px;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.pn {
    min-width: 110px;
}

.btn-next, .btn-search {
    min-width: 135px;
    float: right;
}

.row-search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-messages-search label {
    margin-right: 10px;
}

.form-messages-search input {
    margin-right: 20px;
}

/* http://stackoverflow.com/a/17183996/329700 */
.mms-image {
    display: block;
    max-height: 300px;
    width: auto;
    height: auto;
}
