{{- define "call-summary-table" }}
{{/* This is used in the call summary page. Data structure is a
     pageLoc, see server/phonenumbers.go for more details. */}}
{{- if not .Page }}
<p>No calls</p>
{{- else }}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      {{- if .Page.ShowHeader "Status" }}
      <th>Status</th>
      {{- end }}
      {{- if and .IsFrom (.Page.ShowHeader "From") }}
      <th class="pn">From</th>
      {{- end }}
      {{- if and (not .IsFrom) (.Page.ShowHeader "To") }}
      <th class="pn">To</th>
      {{- end }}
      {{- if .Page.ShowHeader "Duration" }}
      <th>Duration</th>
      {{- end }}
    </tr>
  </thead>
  <tbody>
    {{- range .Page.Calls }}
      {{- if .CanViewProperty "Sid" }}
      <tr class="call {{ if .CanViewProperty "Status" }}{{ if .Failed }}list-error{{ end }}{{ end }}">
        <td class="friendly-date">
          <a href="/calls/{{ .Sid }}" title="View more details">
            {{- if .CanViewProperty "DateCreated" }}
              {{ friendly_date (.DateCreated.Time.In $.Loc) }}
            {{- else }}
            View more details
            {{- end }}
          </a>
        </td>
        {{- if .CanViewProperty "Status" }}
        <td>
          <a href="/calls/{{ .Sid }}"
            title="View more details">
          {{ .Status.Friendly }}
          </a>
        </td>
        {{- end }}
        {{- if and (.CanViewProperty "From") $.IsFrom }}
          {{- template "phonenumber" .From }}
        {{- end }}
        {{- if and (.CanViewProperty "To") (not $.IsFrom) }}
          {{- template "phonenumber" .To }}
        {{- end }}
        {{- if .CanViewProperty "Duration" }}
        {{/* why does this need different formatting than default time.Duration? */}}
        <td>{{ .Duration.String }}</td>
        {{- end }}
      </tr>
      {{- end }}
    {{- end }}
  </tbody>
</table>
{{- end }}{{/* end "page has calls" block */}}
{{- end }}{{/* end define */}}
