{{- define "content" }}
{{- if .Err }}
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <p>{{ .Err }}</p>
    </div>
  </div>
</div>
{{- end }}
<div class="row row-search">
  <form class="form-inline" method="get" action="{{ .Path }}">
    <div class="form-search form-calls-search col-md-10">
      <div class="form-group">
        <label for="status">Status</label>
        <select name="status" class="form-control">
          <option value="">Choose a status..</option>
          {{- range .Statuses }}
          <option {{ if eq ($.Query.Get "status") . }}selected="selected" {{ end }}value="{{ . }}">{{ .Friendly }}</option>
          {{- end }}
        </select>
      </div>
      <div class="form-group">
        <label for="friendly-name">Friendly Name</label>
        <input type="text" class="form-control" name="friendly-name" id="friendly-name" placeholder="(Exact Match)" value="{{ (.Query.Get "friendly-name") }}">
      </div>
      <div class="form-group">
        <label for="created-after">On or after</label>
        <input type="datetime-local" class="form-control" name="created-after" id="created-after" min="{{ min .Loc }}" max="{{ max .Loc }}" step=3600 value="{{ start_val .Query .Loc }}">
      </div>
      <div class="form-group">
        <label for="created-before">Before</label>
        <input type="datetime-local" class="form-control" name="created-before" id="created-before" min="{{ min .Loc }}" max="{{ max .Loc }}" step=3600 value="{{ end_val .Query .Loc }}">
      </div>
    </div>
    <div class="col-md-2">
      <input type="submit" value="Search" class="btn-search btn btn-default btn-info" />
    </div>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr class="friendly-date">
      <th>Date</th>
      {{- if .Page.ShowHeader "FriendlyName" }}
      <th>Friendly Name</th>
      {{- end }}
      {{- if .Page.ShowHeader "Status" }}
      <th>Status</th>
      {{- end }}
      {{- if .Page.ShowHeader "Region" }}
      <th>Region</th>
      {{- end }}
    </tr>
  </thead>
  <tbody>
    {{- range .Page.Conferences }}
      {{- if .CanViewProperty "Sid" }}
      <tr class="conference">
        <td>
          <a href="/conferences/{{ .Sid }}" title="View more details">
            {{- if .CanViewProperty "DateCreated" }}
              {{ friendly_date (.DateCreated.Time.In $.Loc) }}
            {{- else }}
            View more details
            {{- end }}
          </a>
        </td>
        {{- if .CanViewProperty "FriendlyName" }}
        <td>
          {{ .FriendlyName }}
          <a title="Click to copy" class="clipboard">&#x1f4cb;</a>
          <form class="copy-form"><input class="copy-target" type="text" value="{{ .FriendlyName }}" /></form>
        </td>
        {{- end }}
        {{- if .CanViewProperty "Status" }}
        <td>{{ .Status.Friendly }}</td>
        {{- end }}
        {{- if .CanViewProperty "Region" }}
        <td>{{ .Region }}</td>
        {{- end }}
      </tr>
      {{- end }}
    {{- end }}
  </tbody>
</table>
{{- if eq 0 (len .Page.Conferences) }}
  {{/* Don't need if/else with range .Page.Conferences, that will always be empty
       if this is non-empty and vice versa */}}
  No conferences match the search criteria
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{{- end }}
{{- template "paging" . }}
{{- template "copy-phonenumber" }}
{{- end }}
