{{- define "content" }}
{{- if .Err }}
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <p>{{ .Err }}</p>
    </div>
  </div>
</div>
{{- end }}
{{- if .Freq }}
  {{- range .Freq }}
  <p>{{ if .HaveMore }}At least {{ end }}<span class="lead {{ if eq .Count 0 }}text-success{{ end }}" style="margin-right: 5px;">{{ .Count }}</span> alerts in the last {{ .Name }}</p>
  {{- end }}
{{- end }}
<div class="row row-search">
  <form class="form-horizontal" method="get" action="{{ .Path }}">
    <div class="form-search form-alerts-search col-md-10">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="log-level">Log Level</label>
            <select name="log-level" class="form-control" style="min-width:200px;">
              <option value="">Choose a level...</option>
              {{- range .LogLevels }}
              <option {{ if eq ($.Query.Get "log-level") . }}selected="selected" {{ end }}value="{{ . }}">{{ .Friendly }}</option>
              {{- end }}
            </select>
          </div>
          <div class="form-group">
            <label for="alert-start">On or after</label>
            <input type="datetime-local" class="form-control" name="alert-start" id="alert-start" min="{{ min .Loc }}" max="{{ max .Loc }}" step=3600 value="{{ start_val .Query .Loc }}">
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <div class="form-group">
            <label for="resource-sid">Resource Sid</label>
            <input type="text" style="min-width: 320px;" class="form-control" name="resource-sid" id="resource-sid" placeholder="SM123,CA123" value="{{ (.Query.Get "resource-sid") }}">
          </div>
          <div class="form-group">
            <label for="alert-end">Before</label>
            <input type="datetime-local" class="form-control" name="alert-end" id="alert-end" min="{{ min .Loc }}" max="{{ max .Loc }}" step=3600 value="{{ end_val .Query .Loc }}">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <input type="submit" value="Search" class="btn-search btn btn-default btn-info" />
    </div>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      {{- if .Page.ShowHeader "ResourceSid" }}
      <th>Resource</th>
      {{- end }}
      {{- if .Page.ShowHeader "LogLevel" }}
      <th>Log Level</th>
      {{- end }}
      {{- if .Page.ShowHeader "ErrorCode" }}
      <th>Error Code</th>
      {{- end }}
      {{- if .Page.ShowHeader "Description" }}
      <th>Description</th>
      {{- end }}
    </tr>
  </thead>
  <tbody>
    {{- range .Page.Alerts }}
      {{- if and (.CanViewProperty "Sid") (.CanViewProperty "ResourceSid") }}
      {{- if gt (len .ResourceSid) 0 }}
      <tr class="alert">
        <td class="friendly-date">
          <a href="/alerts/{{ .Sid }}" title="View more details">
            {{- if .CanViewProperty "DateCreated" }}
              {{ friendly_date (.DateCreated.Time.In $.Loc) }}
            {{- else }}
            View more details
            {{- end }}
          </a>
        </td>

        {{- if .CanViewProperty "ResourceSid" }}
        <td>
          {{- if has_prefix .ResourceSid "CA" }}
          <a href="/calls/{{ .ResourceSid }}">Call</a>
          {{- else if has_prefix .ResourceSid "SM" }}
          <a href="/messages/{{ .ResourceSid }}">SMS</a>
          {{- else if has_prefix .ResourceSid "MM" }}
          <a href="/messages/{{ .ResourceSid }}">MMS</a>
          {{- else if has_prefix .ResourceSid "CF" }}
          <a href="/conferences/{{ .ResourceSid }}">Conference</a>
          {{- else }}
          Resource {{ .ResourceSid }}
          {{- end }}
        </td>
        {{- end -}}

        {{- if .CanViewProperty "LogLevel" }}
        <td>{{ .LogLevel.Friendly }}</td>
        {{- end -}}

        {{- if .CanViewProperty "ErrorCode" }}
          {{- if .MoreInfo }}
          <td><a href="{{ .MoreInfo }}">{{ .ErrorCode }}</a></td>
          {{- else }}
          <td>{{ .ErrorCode }}</td>
          {{- end }}
        {{- end }}

        {{- if .CanViewDescription }}
        <td><a href="https://www.twilio.com/console/dev-tools/debugger/{{ .Sid }}">{{ .Description }}</a></td>
        {{- end -}}

      </tr>
      {{- end }}
      {{- end }}
    {{- end }}
  </tbody>
</table>
{{- if eq 0 (len .Page.Alerts) }}
  {{/* Don't need if/else with range .Page.Alerts, that will always be empty
       if this is non-empty and vice versa */}}
  No alerts match the search criteria
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{{- end }}
{{- template "paging" . }}
{{- end }}
