{{- define "content" }}
{{- if .Err }}
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <p>{{ .Err }}</p>
    </div>
  </div>
</div>
{{- end }}
{{- if .Freq }}
  {{- range .Freq }}
  <p>{{ if .HaveMore }}At least {{ end }}<span class="lead {{ if eq .Count 0 }}text-success{{ end }}" style="margin-right: 5px;">{{ .Count }}</span> alerts in the last {{ .Name }}</p>
  {{- end }}
{{- end }}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      {{- if .Page.ShowHeader "ResourceSid" }}
      <th>Resource</th>
      {{- end }}
      {{- if .Page.ShowHeader "LogLevel" }}
      <th>Log Level</th>
      {{- end }}
      {{- if .Page.ShowHeader "ErrorCode" }}
      <th>Error Code</th>
      {{- end }}
      {{- if .Page.ShowHeader "Description" }}
      <th>Description</th>
      {{- end }}
    </tr>
  </thead>
  <tbody>
    {{- range .Page.Alerts }}
      {{- if and (.CanViewProperty "Sid") (.CanViewProperty "ResourceSid") }}
      {{- if gt (len .ResourceSid) 0 }}
      <tr class="alert">
        <td class="friendly-date">
          <a href="/alerts/{{ .Sid }}" title="View more details">
            {{- if .CanViewProperty "DateCreated" }}
              {{ friendly_date (.DateCreated.Time.In $.Loc) }}
            {{- else }}
            View more details
            {{- end }}
          </a>
        </td>

        {{- if .CanViewProperty "ResourceSid" }}
        <td>
          {{- if has_prefix .ResourceSid "CA" }}
          <a href="/calls/{{ .ResourceSid }}">Call</a>
          {{- else if has_prefix .ResourceSid "SM" }}
          <a href="/messages/{{ .ResourceSid }}">SMS</a>
          {{- else if has_prefix .ResourceSid "MM" }}
          <a href="/messages/{{ .ResourceSid }}">MMS</a>
          {{- else if has_prefix .ResourceSid "CF" }}
          <a href="/conferences/{{ .ResourceSid }}">Conference</a>
          {{- else }}
          Resource {{ .ResourceSid }}
          {{- end }}
        </td>
        {{- end -}}

        {{- if .CanViewProperty "LogLevel" }}
        <td>{{ .LogLevel.Friendly }}</td>
        {{- end -}}

        {{- if .CanViewProperty "ErrorCode" }}
        <td>{{ .ErrorCode }}</td>
        {{- end -}}

        {{- if .CanViewDescription }}
          {{- if .MoreInfo }}
          <td><a href="{{ .MoreInfo }}">{{ .Description }}</a></td>
          {{- else }}
          <td>{{ .Description }}</td>
          {{- end }}
        {{- end -}}

      </tr>
      {{- end }}
      {{- end }}
    {{- end }}
  </tbody>
</table>
{{- if eq 0 (len .Page.Alerts) }}
  {{/* Don't need if/else with range .Page.Alerts, that will always be empty
       if this is non-empty and vice versa */}}
  No alerts match the search criteria
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{{- end }}
{{- template "paging" . }}
{{- end }}
