{{/* Template nesting strategy taken from http://stackoverflow.com/a/11468132/329700 */}}
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ if .Data.Title }}{{ .Data.Title }} - Logrole{{ else }}Logrole{{ end }}</title>
    <meta name="description" content="A fast, configurable Twilio log viewer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" sizes="16x16">
    <link rel="apple-touch-icon" href="static/apple-touch-icon.png">
    <link rel="search" type="application/opensearchdescription+xml" title="Logrole" href="/opensearch.xml" />
    <link rel="stylesheet" href="/static/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-static-top">
      <div class="container-fluid">
        <div id="navbar" class="row">
          <ul class="nav navbar-nav">
            <li class="{{ if eq .Path "/" }}active{{ end }}">
              <a class="home-link navbar-brand" href="/">Logrole</a>
            </li>
            <li {{ if eq .Path "/calls" }}class="active"{{ end }}>
              <a href="/calls">Calls</a>
            </li>
            <li {{ if eq .Path "/conferences" }}class="active"{{ end }}>
              <a href="/conferences">Conferences</a>
            </li>
            <li {{ if eq .Path "/messages" }}class="active"{{ end }}>
              <a href="/messages">Messages</a>
            </li>
            <li {{ if eq .Path "/alerts" }}class="active"{{ end }}>
              <a href="/alerts">Alerts</a>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li>
            <a href="https://status.twilio.com">Twilio Status</a>
            </li>
            {{- if .LF }}
            <li class="tz-control">
              <form method="POST" action="/tz">
                <input type="hidden" name="g" value="{{ .Path }}" />
                <select name="tz" id="tz-select" class="form-control">
                  <option>Choose a timezone...</option>
                  {{- range .LF.Locations }}
                  <option value="{{ .String }}" {{ if eq $.TZ .String }}selected="selected"{{ end }}>
                    {{ friendly_loc . }} ({{ tztime $.Start $.LF .String }})
                  </option>
                  {{- end }}
                </select>
              </form>
            </li>
            {{- end }}
            {{- if eq .LoggedOut false }}
            <li>
              <form method="post" action="/auth/logout">
                <input class="btn btn-link logout" name="Logout" value="Logout" type="submit" />
              </form>
            </li>
            {{- end }}
          </ul>
        </div>
    </nav>

    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <div class="page container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ if .Data.Title }}{{ .Data.Title }}{{ else }}Logrole{{ end }}</h2>
        </div>
      </div>
      {{template "content" .Data }}
    </div><!-- end #page -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row timings">
          {{- if not .ReqStart.IsZero }}
          <div class="col-md-2">
            Response time: {{ render .ReqStart }}
          </div>
          {{- end }}
          {{- if not .CachedAt.IsZero }}
          <div class="col-md-2">
            (from cache, {{ render .CachedAt }} old)
          </div>
          {{- else if gt .Duration 0 }}
          <div class="col-md-2">
            API request time: {{ duration .Duration }}
          </div>
          {{- end }}
          <div class="col-md-2">
            Render: {{ render .Start }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
            Logrole version {{ .Version }}. Copyright {{ year }} Chris Bennett.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
            Logrole is <a href="/open-source">open source software.</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      var tzSelector = document.querySelector('#tz-select');
      tzSelector.addEventListener('change', function(e) {
        e.target.form.submit();
      });
    </script>
  </body>
</html>
