{{ define "content" }}
<div class="row">
  <div class="col-md-4">
    <p>
    Logrole is a faster, usable, fine-grained client for exploring your
    Twilio logs. It's pretty fast - there are hardly any dependencies and
    the main bottleneck for every request is making an API request. <a
    href="https://kev.inburke.com/kevin/logrole-api-client-speed/">Read more
    about what makes it fast</a>.
    </p>

    <ul>
      <li>Customizable permissions for each user browsing the site - limit access to
    SMS/MMS bodies, resources older than a certain age, recordings, calls, call
    from, etc. etc.

      <li>To-the-hour, timezone aware resource search, customizable for each user.

      <li>Your Account Sid is obscured from end users at all times.

      <li>Easy site search - tab complete and search for a sid to go straight to the
      instance view for that resource.

      <li>MMS messages are always fetched over HTTPS. The default Twilio API/libraries
    hand back insecure image links, but we rewrite URLs before fetching them.
    </ul>

    <p>
    Start browsing:
    </p>

    <ul>
      <li><a href="/calls">Calls</a>
      <li><a href="/conferences">Conferences</a>
      <li><a href="/messages">Messages</a>
      <li><a href="/phone-numbers">Phone Numbers</a>
      <li><a href="/alerts">Alerts</a>
    </ul>

    <h4>Report a Problem</h4>
    <p>
    Logrole is not perfect software, and needs your
    help to get better. <a title="Report an issue"
    href="https://github.com/saintpete/logrole/issues/new">Click here to report
    an issue</a>. Be sure to describe what you were trying to do, what you
    expected to see, and what happened.
    </p>

    <h4>Contribute</h4>
    <p>
    Logrole is a great project for you to learn
    how to contribute to open source software. <a
    href="https://github.com/saintpete/logrole">Check out the project's
    README</a>, or <a href="https://github.com/saintpete/logrole">look at
    the list of open issues</a> for an easy one to tackle. If you get stuck
    somewhere, or don't know why something is the way it is - ask! Or post an
    issue asking for help.
    </p>
  </div>
</div>
{{ end }}
