{{ define "content" }}
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th>Sid</th>
          {{- if .Call.CanViewProperty "Sid" }}
            {{- template "sid" .Call }}
          {{- else }}
          <td><i>hidden</i></td>
          {{- end }}
        </tr>
        <tr>
          <th>Date Created</th>
          {{- if .Call.CanViewProperty "DateCreated" }}
          <td>{{ friendly_date (.Call.DateCreated.Time.In $.Loc) }}</td>
          {{- else }}
          <td><i>hidden</i></td>
          {{- end }}
        </tr>
        <tr>
          <th>Start Time</th>
          {{- if .Call.CanViewProperty "StartTime" }}
          <td>{{ friendly_date (.Call.StartTime.Time.In $.Loc) }}</td>
          {{- else }}
          <td><i>hidden</i></td>
          {{- end }}
        </tr>
        <tr>
          <th>Duration</th>
          {{- if .Call.CanViewProperty "Duration" }}
          <td>{{ .Call.Duration.String }}</td>
          {{- else }}
          <td><i>hidden</i></td>
          {{- end }}
        </tr>
        <tr>
          <th>Price</th>
          {{- if and (.Call.CanViewProperty "Price") (.Call.CanViewProperty "PriceUnit") }}
          <td>{{ .Call.FriendlyPrice }}</td>
          {{- else }}
          <td><i>hidden</i></td>
          {{- end }}
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>From</th>
          {{- if .Call.CanViewProperty "From" }}
            {{- template "phonenumber" .Call.From }}
          {{- else }}
          <td><i>hidden</i></td>
          {{- end }}
        </tr>
        <tr>
          <th>To</th>
          {{- if .Call.CanViewProperty "To" }}
            {{- template "phonenumber" .Call.To }}
          {{- else }}
          <td><i>hidden</i></td>
          {{- end }}
        </tr>
        <tr>
          <th>Direction</th>
          {{- if .Call.CanViewProperty "Direction" }}
          <td>{{ .Call.Direction.Friendly }}</td>
          {{- else }}
          <td><i>hidden</i></td>
          {{- end }}
        </tr>
        <tr>
          <th>Status</th>
          {{- if .Call.CanViewProperty "Status" }}
          <td>{{ .Call.Status.Friendly }}</td>
          {{- else }}
          <td><i>hidden</i></td>
          {{- end }}
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ if .Call.CanViewCallAlerts }}
      <h3>Alerts and Warnings</h3>
      {{- if .AlertError }}
      <p>
      Error retrieving alerts for this call: {{ .Err }}.
      Refresh the page to try again.
      </p>
      {{- end }}
      {{- if eq (len .Alerts.Alerts) 0 }}
      <p>
      There were no alerts for this call.
      </p>
      {{- end }}
      {{- range .Alerts.Alerts }}
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Sid</th>
            {{- if .CanViewProperty "Sid" }}
              {{- template "sid" . }}
            {{- else }}
            <td><i>hidden</i></td>
            {{- end }}
          </tr>
          <tr>
            <th>Error</th>
            {{- if .CanViewProperty "ErrorCode" }}
              {{- if .CanViewProperty "RequestURL" }}
              <td><a href="https://www.twilio.com/console/dev-tools/debugger/{{ .Sid }}">Code {{ .ErrorCode }}. View more detail in the Twilio Debugger</a></td>
              {{- else if .CanViewProperty "MoreInfo" }}
              <td><a href="{{ .MoreInfo }}">View more information about this error</a></td>
              {{- end }}
            {{- else }}
            <td><i>hidden</i></td>
            {{- end }}
          </tr>
          <tr>
            <th>Request URL</th>
            {{- if .CanViewProperty "RequestURL" }}
            <td>{{ .RequestMethod }} {{ .RequestURL }}</td>
            {{- else }}
            <td><i>hidden</i></td>
            {{- end }}
          </tr>
        </tbody>
      </table>
      {{- end }}
    {{- end }}
  </div>
</div>
{{- template "recordings" .Recordings }}
{{- template "copy-phonenumber" }}
{{- end }}{{/* end content */}}
