{{ define "content" }}
{{- if .Err }}
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <p>{{ .Err }}</p>
    </div>
  </div>
</div>
{{- end }}
<div class="row row-search">
  <form class="form-inline" method="get" action="/calls">
    <div class="form-search form-calls-search col-md-10">
      <div class="form-group">
        <label for="from">From</label>
        <input type="text" class="form-control number-input" name="from" id="from" placeholder="From" value="{{ (.Query.Get "from") }}">
      </div>
      <div class="form-group">
        <label for="to">To</label>
        <input type="text" class="form-control number-input" name="to" id="to" placeholder="To" value="{{ (.Query.Get "to") }}">
      </div>
      <div class="form-group">
        <label for="start-before">At or before</label>
        <input type="date" class="form-control" name="start-before" id="start-before" min="{{ .Min }}" max="{{ .Max }}" placeholder="Started at or before" value="{{ (.Query.Get "start-before") }}">
      </div>
      <div class="form-group">
        <label for="start-after">On or after</label>
        <input type="date" class="form-control" name="start-after" id="start-after" min="{{ .Min }}" max="{{ .Max }}" placeholder="Started at or after" value="{{ (.Query.Get "start-after") }}">
      </div>
    </div>
    <div class="col-md-2">
      <input type="submit" value="Search" class="btn-search btn btn-default btn-info" />
    </div>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      {{- if .Page.ShowHeader "Direction" }}
      <th>Direction</th>
      {{- end }}
      {{- if .Page.ShowHeader "Status" }}
      <th>Status</th>
      {{- end }}
      {{- if .Page.ShowHeader "From" }}
      <th class="pn">From</th>
      {{- end }}
      {{- if .Page.ShowHeader "To" }}
      <th class="pn">To</th>
      {{- end }}
      {{- if .Page.ShowHeader "Duration" }}
      <th>Duration</th>
      {{- end }}
    </tr>
  </thead>
  <tbody>
    {{- range .Page.Calls }}
      {{ if .CanViewProperty "Sid" }}
      <tr class="call">
        <td>
          <a href="/calls/{{ .Sid }}" title="View more details">
            {{- if .CanViewProperty "DateCreated" }}
              {{ friendly_date (.DateCreated.Time.In $.Loc) }}
            {{- else }}
            View more details
            {{- end }}
          </a>
        </td>
        {{- if .CanViewProperty "Direction" }}
        <td>{{ .Direction.Friendly }}</td>
        {{- end }}
        {{- if .CanViewProperty "Status" }}
        <td>
          <a href="/calls/{{ .Sid }}"
            title="View more details">
          {{ .Status.Friendly }}
          </a>
        </td>
        {{- end }}
        {{- if .CanViewProperty "From" }}
        <td class="pn">{{ .From.Friendly }}</td>
        {{- end }}
        {{- if .CanViewProperty "To" }}
        <td class="pn">{{ .To.Friendly }}</td>
        {{- end }}
        {{- if .CanViewProperty "Duration" }}
        {{/* why does this need different formatting than default time.Duration? */}}
        <td>{{ .Duration.String }}</td>
        {{- end }}
      </tr>
      {{- end }}
    {{- end }}
  </tbody>
</table>
{{- if eq 0 (len .Page.Calls) }}
  {{/* Don't need if/else with range .Page.Calls, that will always be empty
       if this is non-empty and vice versa */}}
  No calls match the search criteria
{{- end }}
{{- if .EncryptedNextPage }}
<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <a class="btn btn-info btn-lg btn-default btn-next" href="/calls?next={{ .EncryptedNextPage }}">Next Page</a>
  </div>
</div>
{{ end }}
{{/* end content */}}{{- end }}
