{{ define "recordings" }}
{{/* An array of recordings. Template value is a recordingResp */}}
<h3>Recordings</h3>
{{- if .CanViewNumRecordings }}
  {{- if .Err }}
  <div class="row">
    <div class="col-md-12">
      <p>
      Error retrieving recordings for this call: {{ .Err }}.
      Refresh the page to try again.
      </p>
    </div>
  </div>
  {{- else }}
    {{- if .CanPlayRecording }}
      {{- range .Recordings }}
        <div class="row">
          <div class="col-md-6">
            <h4>Recording {{ truncate_sid .Sid }}</h4>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>Sid</th>
                  {{- if .CanViewProperty "Sid" }}
                    {{- template "sid" . }}
                  {{- else }}
                  <td><i>hidden</i></td>
                  {{- end }}
                </tr>
                <tr>
                  <th>Price</th>
                  {{- if .CanViewProperty "Price" }}
                  <td>{{ .FriendlyPrice }}</td>
                  {{- else }}
                  <td><i>hidden</i></td>
                  {{- end }}
                </tr>
                <tr>
                  <th>Duration</th>
                  {{- if .CanViewProperty "Duration" }}
                  <td>{{ .Duration.String }}</td>
                  {{- else }}
                  <td><i>hidden</i></td>
                  {{- end }}
                </tr>
              </tbody>
            </table>
            {{- if .CanPlay }}
            <p>
              <audio controls="true" preload="metadata">
                Your browser does not support the <code>audio</code> element.
                <source src="{{ .URL }}" type="{{ .MediaType }}">
              </audio>
            </p>
            {{- else }}
            <p>Cannot play this recording.</p>
            {{- end }}
          </div>
        </div>
      {{- end }}
    {{- else }}
    <div class="row">
      <div class="col-md-12">
        <p>
        {{- $len := len .Recordings }}
        {{- if eq $len 0 }}
        There were no recordings
        {{- else if eq $len 1 }}
        There was one recording
        {{- else }}
        There were {{ $len }} recordings
        {{- end }}
        attached to this call.
        </p>
      </div>
    </div>
    {{- end }}
  {{- end }}
{{- else }}
<p>You do not have permission to see whether any recordings were made.</p>
{{- end }}
{{- end }}
