{{ define "content" }}
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th>Sid</th>
          {{- if .Message.CanViewProperty "Sid" }}
          <td><code>{{ .Message.Sid }}</code></td>
          {{- else }}
          <td>[redacted]</td>
          {{- end }}
        </tr>
        <tr>
          <th>Date Created</th>
          {{- if .Message.CanViewProperty "DateCreated" }}
          <td>{{ friendly_date (.Message.DateCreated.Time.In $.Loc) }}</td>
          {{- else }}
          <td>[redacted]</td>
          {{- end }}
        </tr>
        {{/* need to nest these because all args are evaluated together */}}
        {{- if .Message.CanViewProperty "MessagingServiceSid" -}}
        {{- if .Message.MessagingServiceSid.Valid }}
        <tr>
          <th>Messaging Service Sid</th>
          <td>{{ .Message.MessagingServiceSid.String }}</td>
        </tr>
        {{- end }}
        {{- end }}
        <tr>
          <th>From</th>
          {{- if .Message.CanViewProperty "From" }}
            {{- template "phonenumber" .Message.From }}
          {{- else }}
          <td>[redacted]</td>
          {{- end }}
        </tr>
        <tr>
          <th>To</th>
          {{- if .Message.CanViewProperty "To" }}
            {{- template "phonenumber" .Message.To }}
          {{- else }}
          <td>[redacted]</td>
          {{- end }}
        </tr>
        <tr>
          <th>Status</th>
          {{- if .Message.CanViewProperty "Status" }}
          <td>{{ .Message.Status.Friendly }}</td>
          {{- else }}
          <td>[redacted]</td>
          {{- end }}
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Direction</th>
          {{- if .Message.CanViewProperty "Direction" }}
          <td>{{ .Message.Direction.Friendly }}</td>
          {{- else }}
          <td>[redacted]</td>
          {{- end }}
        </tr>
        <tr>
          <th>Segments</th>
          {{- if .Message.CanViewProperty "NumSegments" }}
          <td>{{ .Message.NumSegments }}</td>
          {{- else }}
          <td>[redacted]</td>
          {{- end }}
        </tr>
        <tr>
          <th>Price</th>
          {{- if and (.Message.CanViewProperty "Price") (.Message.CanViewProperty "PriceUnit") }}
          <td>{{ .Message.FriendlyPrice }}</td>
          {{- else }}
          <td>[redacted]</td>
          {{- end }}
        </tr>
        <tr>
          <th>Number of Media</th>
          {{- if .Message.CanViewProperty "NumMedia" }}
          <td>{{ .Message.NumMedia }}</td>
          {{- else }}
          <td>[redacted]</td>
          {{- end }}
        </tr>
      </tbody>
    </table>
  </div>
</div>
{{- if (.Message.CanViewProperty "Body") }}
  {{- if (gt (len .Message.Body) 0) }}
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <tbody>
          <tr>
            <th>Body</th>
            <td><code>{{ .Message.Body }}</code></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{- end }}
{{- end }}
{{- if (.Message.CanViewProperty "ErrorCode") }}
  {{- if gt .Message.ErrorCode 0 }}
  <div class="row">
    <div class="col-md-4">
      <h3>Error</h3>
      <table class="table">
        <tbody>
          <tr>
            <th>Code</th>
            <td>
              <a title="More information about the error" href="https://twilio.com/docs/errors/{{ .Message.ErrorCode }}">{{ .Message.ErrorCode }}</a>
            </td>
          </tr>
          <tr>
            <th>Message</th>
            {{ if .Message.CanViewProperty "ErrorMessage" }}
            <td>{{ .Message.ErrorMessage }}</td>
            {{ else }}
            <td>[redacted]</td>
            {{ end }}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{- end }}
{{- end }}
{{- if .Message.CanViewMedia }}
{{- if .Media }}
  {{- if .Media.Err }}
  <div class="row">
    <div class="col-md-12">
      <p>
      Error retrieving media for this message: {{ .Media.Err }}.
      Refresh the page to try again.
      </p>
    </div>
  </div>
  {{- else }}
    {{ $showmedia := .ShowMediaByDefault }}
    {{ if eq $showmedia false }}
    <script type="text/javascript">
      var unfade = function(element, hiddenClass) {
        var op = 0;  // initial opacity
        element.style.display = 'block';
        var removed = false;
        var timer = setInterval(function() {
          if (op >= 1) {
            clearInterval(timer);
          }
          element.style.opacity = op;
          element.style.filter = 'alpha(opacity=' + op * 100 + ")";
          if (op === 0) {
            op = 0.05;
          }
          op += op * 0.1;
          if (removed === false) {
            element.classList.remove(hiddenClass)
            removed = true;
          }
        }, 10);
      };
      var logroleShowImagesClicked = false;
      var logroleShowImages = function() {
        if (logroleShowImagesClicked === true) {
          return
        }
        logroleShowImagesClicked = true;
        var links = document.getElementsByClassName("media");
        for (var i = 0; i < links.length; i++) {
          var link = links[i];
          unfade(link, "media-hidden");
        }
        setTimeout(function() {
          var warning = document.getElementById("hidden-images-warning-warning");
          warning.style.display = "none";
        }, 100);
      };
    </script>
    <div id="hidden-images-warning" class="row">
      <div class="col-md-12" id="hidden-images-warning-warning">
        <p>
        Images are hidden by default.
        <a id="show-images" onclick="logroleShowImages(); return false;" href="#">Click to show all images</a>
        </p>
      </div>
    </div>
    {{ end }}
    {{- range .Media.URLs }}
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <tbody>
            <tr>
              <th>Media</th>
              {{/* TODO - we should do better here about controlling the size of the image on the page. */}}
              <td>
                <a {{ if eq $showmedia false }}class="media media-hidden"{{ else }}class="media"{{ end }} href="{{ . }}" title="Click to view the full size image">
                  <img class="mms-image" src="{{ . }}" alt="Image associated with the message" />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {{- end }}{{/* end URL range */}}
  {{- end }}{{/* end if Media.Err else block */}}
{{- end }}
{{- else }}
<div class="row">
  <div class="col-md-12">
    <p>Not displaying any media because you do not have permission to view it.</p>
  </div>
</div>
{{- end }}
{{- template "copy-phonenumber" }}
{{ end }}
