{{ define "content" }}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Direction</th>
      <th>Status</th>
      <th class="pn">From</th>
      <th class="pn">To</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    {{- range .Page.Messages }}
    <tr class="message">
      <td><a href="/messages/{{ .Sid }}" title="View more details">{{ friendly_date (.DateCreated.Time.In $.Loc) }}</a></td>
      <td>{{ .Direction.Friendly }}</td>
      <td>{{ .Status.Friendly }}</td>
      <td class="pn">{{ .From.Friendly }}</td>
      <td class="pn">{{ .To.Friendly }}</td>
      <td>{{ .Body }}</td>
    </tr>
    {{- end }}
  </tbody>
</table>
{{- if .Page.NextPageURI.Valid }}
<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <a class="btn btn-info btn-lg btn-default btn-next" href="/messages?next={{ shorturl .Page.NextPageURI.String }}">Next Page</a>
  </div>
</div>
{{ end }}
<div class="row">
  <div class="col-md-12">
    API request time: {{ duration .Duration }}
  </div>
</div>
{{ end }}
