{{ define "content" }}
{{- if .Err }}
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <p>{{ .Err }}</p>
    </div>
  </div>
</div>
{{- end }}
<div class="row row-search">
  <form class="form-inline" method="get" action="/messages">
    <div class="form-messages-search col-md-10">
      <div class="form-group">
        <label for="from">From</label>
        <input type="text" class="form-control" name="from" id="from" placeholder="From" value="{{ (.Query.Get "from") }}">
      </div>
      <div class="form-group">
        <label for="to">To</label>
        <input type="text" class="form-control" name="to" id="to" placeholder="To" value="{{ (.Query.Get "to") }}">
      </div>
      <div class="form-group">
        <label for="start">Start</label>
        <input type="date" class="form-control" name="start" id="start" min="" max="2016-10-13" placeholder="Start" value="{{ (.Query.Get "start") }}">
      </div>
      <div class="form-group">
        <label for="end">End</label>
        <input type="date" class="form-control" name="end" id="end" min="2016-09-13" max="2016-10-13" placeholder="End" value="{{ (.Query.Get "end") }}">
      </div>
    </div>
    <div class="col-md-2">
      <input type="submit" value="Search" class="btn-search btn btn-default btn-info" />
    </div>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Direction</th>
      <th>Status</th>
      <th class="pn">From</th>
      <th class="pn">To</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    {{- range .Page.Messages }}
    <tr class="message">
      <td><a href="/messages/{{ .Sid }}" title="View more details">{{ friendly_date (.DateCreated.Time.In $.Loc) }}</a></td>
      <td>{{ .Direction.Friendly }}</td>
      <td>{{ .Status.Friendly }}</td>
      <td class="pn">{{ .From.Friendly }}</td>
      <td class="pn">{{ .To.Friendly }}</td>
      <td>{{ .Body }}</td>
    </tr>
    {{- end }}
  </tbody>
</table>
{{- if .EncryptedNextPage }}
<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <a class="btn btn-info btn-lg btn-default btn-next" href="/messages?next={{ .EncryptedNextPage }}">Next Page</a>
  </div>
</div>
{{ end }}
<div class="row">
  <div class="col-md-12">
    API request time: {{ duration .Duration }}
    <br>
    Render: {{ render .Start }}
  </div>
</div>
{{ end }}
